/* All margins and padding must be zero for the canvas to fill the screen */
* {
    padding: 0;
    margin: 0;
}


body {
    background: #000;
    color: #fff;
    /* There should not be overflow */
    overflow: hidden;
    /* no action on user interaction */
    -ms-touch-action: none;
    touch-action: none;
}

canvas {
    position: fixed;
    -ms-touch-action: none;
    touch-action: none;
}