/* All margins and padding must be zero for the canvas to fill the screen */
* {
    padding: 0;
    margin: 0;
}


body {
    background: #000;
    color: #fff;
    /* There should not be overflow */
    overflow: hidden;
    /* no action on user interaction */
    -ms-touch-action: none;
    touch-action: none;
}

canvas {
    position: fixed;
    -ms-touch-action: none;
    touch-action: none;
}

/* This is our shadow behind the message div */
#invalidViewStateShade {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Message div */
#viewStateMessage {
    background-color: #1E75BB;
    font-family: 'Segoe UI', 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 30px;
    height: 210px;
    width: 100%;
}

input[type="text"]{
    font-family: 'Segoe UI';
    font-size: 1.7em;
}