@charset "UTF-8";
/*--------------------------------------------------
	
	Odyssey v1.3
	SCSS/SASS template
	https://github.com/Jmz7v/Odyssey.scss
	MIT License

	Made by Julio Montaño
	@jmz7v
		
--------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

body, html {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  font-size: 16px; }

/*--------------------------------------------------
	Variables and Mixins
--------------------------------------------------*/
/*--------------------------------------------------
	Responsive YouTube video
--------------------------------------------------*/
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*--------------------------------------------------
	Add-on classes
--------------------------------------------------*/
.content-max-width, [content-max-width] {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.border-box, [border-box] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.circled, [circled] {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.espacio-small:after, [espacio-small]:after {
  display: block;
  content: "";
  height: 2rem; }

.espacio-medium:after, [espacio-medium]:after {
  display: block;
  content: "";
  height: 3.5rem; }

.espacio-large:after, [espacio-large]:after {
  display: block;
  content: "";
  height: 5rem; }

.espacio-xlarge:after, [espacio-xlarge]:after {
  display: block;
  content: "";
  height: 7rem; }

.espacio-xxlarge:after, [espacio-xxlarge]:after {
  display: block;
  content: "";
  height: 9rem; }

.espacio-sick:after, [espacio-sick]:after {
  display: block;
  content: "";
  height: 12rem; }

.text-align-center, [text-align-center] {
  width: 100%;
  text-align: center; }

.text-align-center-important, [text-align-center-important] {
  width: 100%;
  text-align: center !important; }

/*--------------------------------------------------
	Falling Dodge
--------------------------------------------------*/
body {
  background-image: -o-linear-gradient(89deg, #cde4ff 0%, #457dcc 54%, #1b0da7 100%);
  background-image: -moz-linear-gradient(89deg, #cde4ff 0%, #457dcc 54%, #1b0da7 100%);
  background-image: -ms-linear-gradient(89deg, #cde4ff 0%, #457dcc 54%, #1b0da7 100%);
  background-image: linear-gradient(-1deg, #cde4ff 0%, #457dcc 54%, #1b0da7 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.container {
  display: block;
  /*z-index: 1;*/
  height: 100%;
  width: 100%; }
  .container .page {
    display: block;
    position: relative;
    z-index: 100;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%; }
  .container .page.one .logo {
    display: block;
    min-width: 256px;
    width: 50%;
    max-width: 512px;
    margin: 0 auto;
    -webkit-animation: animation 900ms linear both;
    animation: animation 900ms linear both; }
  .container .page.one .super-title {
    display: block;
    margin-top: -40px;
    font-family: "open sans", "Lato", "Segoe UI", sans-serif;
    font-weight: 300;
    font-size: 2.4rem;
    color: #f7f7f7;
    text-align: center; }
  .container .page.one .super-description {
    display: block;
    margin-top: 2rem;
    font-family: "open sans", "Lato", "Segoe UI", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #f7f7f7;
    text-align: center;
    animation: glowing 2s infinite; }
  .container .page.one .arrow {
    position: absolute;
    margin: 0 auto;
    display: block;
    width: 100%;
    bottom: 4rem;
    height: 2rem;
    -webkit-animation: animation 900ms linear both;
    animation: animation 900ms linear both; }
@-webkit-keyframes animation {
  .container .page.one 0%  {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1); }
  .container .page.one 1  . 851852%  {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 232.96817, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 232.96817, 0, 1); }
  .container .page.one 3  . 703704%  {
    -webkit-transform: matrix3d(1.48623, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 170.75177, 0, 1);
    transform: matrix3d(1.48623, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 170.75177, 0, 1); }
  .container .page.one 5  . 555556%  {
    -webkit-transform: matrix3d(2.31973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 116.81608, 0, 1);
    transform: matrix3d(2.31973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 116.81608, 0, 1); }
  .container .page.one 7  . 407407%  {
    -webkit-transform: matrix3d(1.85825, 0, 0, 0, 0, 1.03334, 0, 0, 0, 0, 1, 0, 0, 72.67429, 0, 1);
    transform: matrix3d(1.85825, 0, 0, 0, 0, 1.03334, 0, 0, 0, 0, 1, 0, 0, 72.67429, 0, 1); }
  .container .page.one 9  . 259259%  {
    -webkit-transform: matrix3d(1.08418, 0, 0, 0, 0, 1.29428, 0, 0, 0, 0, 1, 0, 0, 38.46947, 0, 1);
    transform: matrix3d(1.08418, 0, 0, 0, 0, 1.29428, 0, 0, 0, 0, 1, 0, 0, 38.46947, 0, 1); }
  .container .page.one 11  . 111111%  {
    -webkit-transform: matrix3d(0.72876, 0, 0, 0, 0, 1.44048, 0, 0, 0, 0, 1, 0, 0, 13.46004, 0, 1);
    transform: matrix3d(0.72876, 0, 0, 0, 0, 1.44048, 0, 0, 0, 0, 1, 0, 0, 13.46004, 0, 1); }
  .container .page.one 12  . 962963%  {
    -webkit-transform: matrix3d(0.61906, 0, 0, 0, 0, 1.49754, 0, 0, 0, 0, 1, 0, 0, -3.59691, 0, 1);
    transform: matrix3d(0.61906, 0, 0, 0, 0, 1.49754, 0, 0, 0, 0, 1, 0, 0, -3.59691, 0, 1); }
  .container .page.one 14  . 814815%  {
    -webkit-transform: matrix3d(0.62356, 0, 0, 0, 0, 1.49045, 0, 0, 0, 0, 1, 0, 0, -14.15941, 0, 1);
    transform: matrix3d(0.62356, 0, 0, 0, 0, 1.49045, 0, 0, 0, 0, 1, 0, 0, -14.15941, 0, 1); }
  .container .page.one 16  . 666667%  {
    -webkit-transform: matrix3d(0.6741, 0, 0, 0, 0, 1.44152, 0, 0, 0, 0, 1, 0, 0, -19.70033, 0, 1);
    transform: matrix3d(0.6741, 0, 0, 0, 0, 1.44152, 0, 0, 0, 0, 1, 0, 0, -19.70033, 0, 1); }
  .container .page.one 18  . 518519%  {
    -webkit-transform: matrix3d(0.73818, 0, 0, 0, 0, 1.36932, 0, 0, 0, 0, 1, 0, 0, -21.57859, 0, 1);
    transform: matrix3d(0.73818, 0, 0, 0, 0, 1.36932, 0, 0, 0, 0, 1, 0, 0, -21.57859, 0, 1); }
  .container .page.one 20  . 37037%  {
    -webkit-transform: matrix3d(0.80135, 0, 0, 0, 0, 1.28821, 0, 0, 0, 0, 1, 0, 0, -20.96662, 0, 1);
    transform: matrix3d(0.80135, 0, 0, 0, 0, 1.28821, 0, 0, 0, 0, 1, 0, 0, -20.96662, 0, 1); }
  .container .page.one 22  . 222222%  {
    -webkit-transform: matrix3d(0.85819, 0, 0, 0, 0, 1.20853, 0, 0, 0, 0, 1, 0, 0, -18.81987, 0, 1);
    transform: matrix3d(0.85819, 0, 0, 0, 0, 1.20853, 0, 0, 0, 0, 1, 0, 0, -18.81987, 0, 1); }
  .container .page.one 24  . 074074%  {
    -webkit-transform: matrix3d(0.90702, 0, 0, 0, 0, 1.13697, 0, 0, 0, 0, 1, 0, 0, -15.87548, 0, 1);
    transform: matrix3d(0.90702, 0, 0, 0, 0, 1.13697, 0, 0, 0, 0, 1, 0, 0, -15.87548, 0, 1); }
  .container .page.one 25  . 925926%  {
    -webkit-transform: matrix3d(0.94729, 0, 0, 0, 0, 1.07725, 0, 0, 0, 0, 1, 0, 0, -12.66979, 0, 1);
    transform: matrix3d(0.94729, 0, 0, 0, 0, 1.07725, 0, 0, 0, 0, 1, 0, 0, -12.66979, 0, 1); }
  .container .page.one 27  . 777778%  {
    -webkit-transform: matrix3d(0.97882, 0, 0, 0, 0, 1.03075, 0, 0, 0, 0, 1, 0, 0, -9.5663, 0, 1);
    transform: matrix3d(0.97882, 0, 0, 0, 0, 1.03075, 0, 0, 0, 0, 1, 0, 0, -9.5663, 0, 1); }
  .container .page.one 29  . 62963%  {
    -webkit-transform: matrix3d(1.00182, 0, 0, 0, 0, 0.99719, 0, 0, 0, 0, 1, 0, 0, -6.78798, 0, 1);
    transform: matrix3d(1.00182, 0, 0, 0, 0, 0.99719, 0, 0, 0, 0, 1, 0, 0, -6.78798, 0, 1); }
  .container .page.one 31  . 481481%  {
    -webkit-transform: matrix3d(1.01702, 0, 0, 0, 0, 0.97523, 0, 0, 0, 0, 1, 0, 0, -4.44959, 0, 1);
    transform: matrix3d(1.01702, 0, 0, 0, 0, 0.97523, 0, 0, 0, 0, 1, 0, 0, -4.44959, 0, 1); }
  .container .page.one 33  . 333333%  {
    -webkit-transform: matrix3d(1.0256, 0, 0, 0, 0, 0.96293, 0, 0, 0, 0, 1, 0, 0, -2.58735, 0, 1);
    transform: matrix3d(1.0256, 0, 0, 0, 0, 0.96293, 0, 0, 0, 0, 1, 0, 0, -2.58735, 0, 1); }
  .container .page.one 35  . 185185%  {
    -webkit-transform: matrix3d(1.02897, 0, 0, 0, 0, 0.95813, 0, 0, 0, 0, 1, 0, 0, -1.18444, 0, 1);
    transform: matrix3d(1.02897, 0, 0, 0, 0, 0.95813, 0, 0, 0, 0, 1, 0, 0, -1.18444, 0, 1); }
  .container .page.one 37  . 037037%  {
    -webkit-transform: matrix3d(1.02858, 0, 0, 0, 0, 0.95872, 0, 0, 0, 0, 1, 0, 0, -0.19164, 0, 1);
    transform: matrix3d(1.02858, 0, 0, 0, 0, 0.95872, 0, 0, 0, 0, 1, 0, 0, -0.19164, 0, 1); }
  .container .page.one 38  . 888889%  {
    -webkit-transform: matrix3d(1.02573, 0, 0, 0, 0, 0.96284, 0, 0, 0, 0, 1, 0, 0, 0.45675, 0, 1);
    transform: matrix3d(1.02573, 0, 0, 0, 0, 0.96284, 0, 0, 0, 0, 1, 0, 0, 0.45675, 0, 1); }
  .container .page.one 40  . 740741%  {
    -webkit-transform: matrix3d(1.02152, 0, 0, 0, 0, 0.96892, 0, 0, 0, 0, 1, 0, 0, 0.83145, 0, 1);
    transform: matrix3d(1.02152, 0, 0, 0, 0, 0.96892, 0, 0, 0, 0, 1, 0, 0, 0.83145, 0, 1); }
  .container .page.one 42  . 592593%  {
    -webkit-transform: matrix3d(1.01679, 0, 0, 0, 0, 0.97574, 0, 0, 0, 0, 1, 0, 0, 1.00043, 0, 1);
    transform: matrix3d(1.01679, 0, 0, 0, 0, 0.97574, 0, 0, 0, 0, 1, 0, 0, 1.00043, 0, 1); }
  .container .page.one 44  . 444444%  {
    -webkit-transform: matrix3d(1.01215, 0, 0, 0, 0, 0.98245, 0, 0, 0, 0, 1, 0, 0, 1.02422, 0, 1);
    transform: matrix3d(1.01215, 0, 0, 0, 0, 0.98245, 0, 0, 0, 0, 1, 0, 0, 1.02422, 0, 1); }
  .container .page.one 46  . 296296%  {
    -webkit-transform: matrix3d(1.00798, 0, 0, 0, 0, 0.98847, 0, 0, 0, 0, 1, 0, 0, 0.95355, 0, 1);
    transform: matrix3d(1.00798, 0, 0, 0, 0, 0.98847, 0, 0, 0, 0, 1, 0, 0, 0.95355, 0, 1); }
  .container .page.one 48  . 148148%  {
    -webkit-transform: matrix3d(1.0045, 0, 0, 0, 0, 0.9935, 0, 0, 0, 0, 1, 0, 0, 0.82863, 0, 1);
    transform: matrix3d(1.0045, 0, 0, 0, 0, 0.9935, 0, 0, 0, 0, 1, 0, 0, 0.82863, 0, 1); }
  .container .page.one 50%  {
    -webkit-transform: matrix3d(1.00179, 0, 0, 0, 0, 0.99741, 0, 0, 0, 0, 1, 0, 0, 0.67962, 0, 1);
    transform: matrix3d(1.00179, 0, 0, 0, 0, 0.99741, 0, 0, 0, 0, 1, 0, 0, 0.67962, 0, 1); }
  .container .page.one 51  . 851852%  {
    -webkit-transform: matrix3d(0.99984, 0, 0, 0, 0, 1.00024, 0, 0, 0, 0, 1, 0, 0, 0.52777, 0, 1);
    transform: matrix3d(0.99984, 0, 0, 0, 0, 1.00024, 0, 0, 0, 0, 1, 0, 0, 0.52777, 0, 1); }
  .container .page.one 53  . 703704%  {
    -webkit-transform: matrix3d(0.99856, 0, 0, 0, 0, 1.00208, 0, 0, 0, 0, 1, 0, 0, 0.38682, 0, 1);
    transform: matrix3d(0.99856, 0, 0, 0, 0, 1.00208, 0, 0, 0, 0, 1, 0, 0, 0.38682, 0, 1); }
  .container .page.one 55  . 555556%  {
    -webkit-transform: matrix3d(0.99784, 0, 0, 0, 0, 1.00312, 0, 0, 0, 0, 1, 0, 0, 0.26464, 0, 1);
    transform: matrix3d(0.99784, 0, 0, 0, 0, 1.00312, 0, 0, 0, 0, 1, 0, 0, 0.26464, 0, 1); }
  .container .page.one 57  . 407407%  {
    -webkit-transform: matrix3d(0.99756, 0, 0, 0, 0, 1.00352, 0, 0, 0, 0, 1, 0, 0, 0.16464, 0, 1);
    transform: matrix3d(0.99756, 0, 0, 0, 0, 1.00352, 0, 0, 0, 0, 1, 0, 0, 0.16464, 0, 1); }
  .container .page.one 59  . 259259%  {
    -webkit-transform: matrix3d(0.99759, 0, 0, 0, 0, 1.00347, 0, 0, 0, 0, 1, 0, 0, 0.08715, 0, 1);
    transform: matrix3d(0.99759, 0, 0, 0, 0, 1.00347, 0, 0, 0, 0, 1, 0, 0, 0.08715, 0, 1); }
  .container .page.one 61  . 111111%  {
    -webkit-transform: matrix3d(0.99783, 0, 0, 0, 0, 1.00313, 0, 0, 0, 0, 1, 0, 0, 0.03049, 0, 1);
    transform: matrix3d(0.99783, 0, 0, 0, 0, 1.00313, 0, 0, 0, 0, 1, 0, 0, 0.03049, 0, 1); }
  .container .page.one 62  . 962963%  {
    -webkit-transform: matrix3d(0.99819, 0, 0, 0, 0, 1.00262, 0, 0, 0, 0, 1, 0, 0, -0.00815, 0, 1);
    transform: matrix3d(0.99819, 0, 0, 0, 0, 1.00262, 0, 0, 0, 0, 1, 0, 0, -0.00815, 0, 1); }
  .container .page.one 64  . 814815%  {
    -webkit-transform: matrix3d(0.99859, 0, 0, 0, 0, 1.00204, 0, 0, 0, 0, 1, 0, 0, -0.03208, 0, 1);
    transform: matrix3d(0.99859, 0, 0, 0, 0, 1.00204, 0, 0, 0, 0, 1, 0, 0, -0.03208, 0, 1); }
  .container .page.one 66  . 666667%  {
    -webkit-transform: matrix3d(0.99898, 0, 0, 0, 0, 1.00148, 0, 0, 0, 0, 1, 0, 0, -0.04463, 0, 1);
    transform: matrix3d(0.99898, 0, 0, 0, 0, 1.00148, 0, 0, 0, 0, 1, 0, 0, -0.04463, 0, 1); }
  .container .page.one 68  . 518519%  {
    -webkit-transform: matrix3d(0.99933, 0, 0, 0, 0, 1.00097, 0, 0, 0, 0, 1, 0, 0, -0.04888, 0, 1);
    transform: matrix3d(0.99933, 0, 0, 0, 0, 1.00097, 0, 0, 0, 0, 1, 0, 0, -0.04888, 0, 1); }
  .container .page.one 70  . 37037%  {
    -webkit-transform: matrix3d(0.99962, 0, 0, 0, 0, 1.00055, 0, 0, 0, 0, 1, 0, 0, -0.0475, 0, 1);
    transform: matrix3d(0.99962, 0, 0, 0, 0, 1.00055, 0, 0, 0, 0, 1, 0, 0, -0.0475, 0, 1); }
  .container .page.one 72  . 222222%  {
    -webkit-transform: matrix3d(0.99985, 0, 0, 0, 0, 1.00022, 0, 0, 0, 0, 1, 0, 0, -0.04263, 0, 1);
    transform: matrix3d(0.99985, 0, 0, 0, 0, 1.00022, 0, 0, 0, 0, 1, 0, 0, -0.04263, 0, 1); }
  .container .page.one 74  . 074074%  {
    -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 0.99998, 0, 0, 0, 0, 1, 0, 0, -0.03596, 0, 1);
    transform: matrix3d(1.00001, 0, 0, 0, 0, 0.99998, 0, 0, 0, 0, 1, 0, 0, -0.03596, 0, 1); }
  .container .page.one 75  . 925926%  {
    -webkit-transform: matrix3d(1.00012, 0, 0, 0, 0, 0.99982, 0, 0, 0, 0, 1, 0, 0, -0.0287, 0, 1);
    transform: matrix3d(1.00012, 0, 0, 0, 0, 0.99982, 0, 0, 0, 0, 1, 0, 0, -0.0287, 0, 1); }
  .container .page.one 77  . 777778%  {
    -webkit-transform: matrix3d(1.00018, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, -0.02167, 0, 1);
    transform: matrix3d(1.00018, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, -0.02167, 0, 1); }
  .container .page.one 79  . 62963%  {
    -webkit-transform: matrix3d(1.00021, 0, 0, 0, 0, 0.9997, 0, 0, 0, 0, 1, 0, 0, -0.01538, 0, 1);
    transform: matrix3d(1.00021, 0, 0, 0, 0, 0.9997, 0, 0, 0, 0, 1, 0, 0, -0.01538, 0, 1); }
  .container .page.one 81  . 481481%  {
    -webkit-transform: matrix3d(1.0002, 0, 0, 0, 0, 0.99971, 0, 0, 0, 0, 1, 0, 0, -0.01008, 0, 1);
    transform: matrix3d(1.0002, 0, 0, 0, 0, 0.99971, 0, 0, 0, 0, 1, 0, 0, -0.01008, 0, 1); }
  .container .page.one 83  . 333333%  {
    -webkit-transform: matrix3d(1.00018, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, -0.00586, 0, 1);
    transform: matrix3d(1.00018, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, -0.00586, 0, 1); }
  .container .page.one 85  . 185185%  {
    -webkit-transform: matrix3d(1.00015, 0, 0, 0, 0, 0.99978, 0, 0, 0, 0, 1, 0, 0, -0.00268, 0, 1);
    transform: matrix3d(1.00015, 0, 0, 0, 0, 0.99978, 0, 0, 0, 0, 1, 0, 0, -0.00268, 0, 1); }
  .container .page.one 87  . 037037%  {
    -webkit-transform: matrix3d(1.00012, 0, 0, 0, 0, 0.99983, 0, 0, 0, 0, 1, 0, 0, -0.00043, 0, 1);
    transform: matrix3d(1.00012, 0, 0, 0, 0, 0.99983, 0, 0, 0, 0, 1, 0, 0, -0.00043, 0, 1); }
  .container .page.one 88  . 888889%  {
    -webkit-transform: matrix3d(1.00009, 0, 0, 0, 0, 0.99988, 0, 0, 0, 0, 1, 0, 0, 0.00103, 0, 1);
    transform: matrix3d(1.00009, 0, 0, 0, 0, 0.99988, 0, 0, 0, 0, 1, 0, 0, 0.00103, 0, 1); }
  .container .page.one 90  . 740741%  {
    -webkit-transform: matrix3d(1.00006, 0, 0, 0, 0, 0.99992, 0, 0, 0, 0, 1, 0, 0, 0.00188, 0, 1);
    transform: matrix3d(1.00006, 0, 0, 0, 0, 0.99992, 0, 0, 0, 0, 1, 0, 0, 0.00188, 0, 1); }
  .container .page.one 92  . 592593%  {
    -webkit-transform: matrix3d(1.00003, 0, 0, 0, 0, 0.99995, 0, 0, 0, 0, 1, 0, 0, 0.00227, 0, 1);
    transform: matrix3d(1.00003, 0, 0, 0, 0, 0.99995, 0, 0, 0, 0, 1, 0, 0, 0.00227, 0, 1); }
  .container .page.one 94  . 444444%  {
    -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 0.99998, 0, 0, 0, 0, 1, 0, 0, 0.00232, 0, 1);
    transform: matrix3d(1.00001, 0, 0, 0, 0, 0.99998, 0, 0, 0, 0, 1, 0, 0, 0.00232, 0, 1); }
  .container .page.one 96  . 296296%  {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.00216, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.00216, 0, 1); }
  .container .page.one 98  . 148148%  {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.00188, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.00188, 0, 1); }
  .container .page.one 100%  {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }
@keyframes animation {
  .container .page.one 0%  {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1); }
  .container .page.one 1  . 851852%  {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 232.96817, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 232.96817, 0, 1); }
  .container .page.one 3  . 703704%  {
    -webkit-transform: matrix3d(1.48623, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 170.75177, 0, 1);
    transform: matrix3d(1.48623, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 170.75177, 0, 1); }
  .container .page.one 5  . 555556%  {
    -webkit-transform: matrix3d(2.31973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 116.81608, 0, 1);
    transform: matrix3d(2.31973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 116.81608, 0, 1); }
  .container .page.one 7  . 407407%  {
    -webkit-transform: matrix3d(1.85825, 0, 0, 0, 0, 1.03334, 0, 0, 0, 0, 1, 0, 0, 72.67429, 0, 1);
    transform: matrix3d(1.85825, 0, 0, 0, 0, 1.03334, 0, 0, 0, 0, 1, 0, 0, 72.67429, 0, 1); }
  .container .page.one 9  . 259259%  {
    -webkit-transform: matrix3d(1.08418, 0, 0, 0, 0, 1.29428, 0, 0, 0, 0, 1, 0, 0, 38.46947, 0, 1);
    transform: matrix3d(1.08418, 0, 0, 0, 0, 1.29428, 0, 0, 0, 0, 1, 0, 0, 38.46947, 0, 1); }
  .container .page.one 11  . 111111%  {
    -webkit-transform: matrix3d(0.72876, 0, 0, 0, 0, 1.44048, 0, 0, 0, 0, 1, 0, 0, 13.46004, 0, 1);
    transform: matrix3d(0.72876, 0, 0, 0, 0, 1.44048, 0, 0, 0, 0, 1, 0, 0, 13.46004, 0, 1); }
  .container .page.one 12  . 962963%  {
    -webkit-transform: matrix3d(0.61906, 0, 0, 0, 0, 1.49754, 0, 0, 0, 0, 1, 0, 0, -3.59691, 0, 1);
    transform: matrix3d(0.61906, 0, 0, 0, 0, 1.49754, 0, 0, 0, 0, 1, 0, 0, -3.59691, 0, 1); }
  .container .page.one 14  . 814815%  {
    -webkit-transform: matrix3d(0.62356, 0, 0, 0, 0, 1.49045, 0, 0, 0, 0, 1, 0, 0, -14.15941, 0, 1);
    transform: matrix3d(0.62356, 0, 0, 0, 0, 1.49045, 0, 0, 0, 0, 1, 0, 0, -14.15941, 0, 1); }
  .container .page.one 16  . 666667%  {
    -webkit-transform: matrix3d(0.6741, 0, 0, 0, 0, 1.44152, 0, 0, 0, 0, 1, 0, 0, -19.70033, 0, 1);
    transform: matrix3d(0.6741, 0, 0, 0, 0, 1.44152, 0, 0, 0, 0, 1, 0, 0, -19.70033, 0, 1); }
  .container .page.one 18  . 518519%  {
    -webkit-transform: matrix3d(0.73818, 0, 0, 0, 0, 1.36932, 0, 0, 0, 0, 1, 0, 0, -21.57859, 0, 1);
    transform: matrix3d(0.73818, 0, 0, 0, 0, 1.36932, 0, 0, 0, 0, 1, 0, 0, -21.57859, 0, 1); }
  .container .page.one 20  . 37037%  {
    -webkit-transform: matrix3d(0.80135, 0, 0, 0, 0, 1.28821, 0, 0, 0, 0, 1, 0, 0, -20.96662, 0, 1);
    transform: matrix3d(0.80135, 0, 0, 0, 0, 1.28821, 0, 0, 0, 0, 1, 0, 0, -20.96662, 0, 1); }
  .container .page.one 22  . 222222%  {
    -webkit-transform: matrix3d(0.85819, 0, 0, 0, 0, 1.20853, 0, 0, 0, 0, 1, 0, 0, -18.81987, 0, 1);
    transform: matrix3d(0.85819, 0, 0, 0, 0, 1.20853, 0, 0, 0, 0, 1, 0, 0, -18.81987, 0, 1); }
  .container .page.one 24  . 074074%  {
    -webkit-transform: matrix3d(0.90702, 0, 0, 0, 0, 1.13697, 0, 0, 0, 0, 1, 0, 0, -15.87548, 0, 1);
    transform: matrix3d(0.90702, 0, 0, 0, 0, 1.13697, 0, 0, 0, 0, 1, 0, 0, -15.87548, 0, 1); }
  .container .page.one 25  . 925926%  {
    -webkit-transform: matrix3d(0.94729, 0, 0, 0, 0, 1.07725, 0, 0, 0, 0, 1, 0, 0, -12.66979, 0, 1);
    transform: matrix3d(0.94729, 0, 0, 0, 0, 1.07725, 0, 0, 0, 0, 1, 0, 0, -12.66979, 0, 1); }
  .container .page.one 27  . 777778%  {
    -webkit-transform: matrix3d(0.97882, 0, 0, 0, 0, 1.03075, 0, 0, 0, 0, 1, 0, 0, -9.5663, 0, 1);
    transform: matrix3d(0.97882, 0, 0, 0, 0, 1.03075, 0, 0, 0, 0, 1, 0, 0, -9.5663, 0, 1); }
  .container .page.one 29  . 62963%  {
    -webkit-transform: matrix3d(1.00182, 0, 0, 0, 0, 0.99719, 0, 0, 0, 0, 1, 0, 0, -6.78798, 0, 1);
    transform: matrix3d(1.00182, 0, 0, 0, 0, 0.99719, 0, 0, 0, 0, 1, 0, 0, -6.78798, 0, 1); }
  .container .page.one 31  . 481481%  {
    -webkit-transform: matrix3d(1.01702, 0, 0, 0, 0, 0.97523, 0, 0, 0, 0, 1, 0, 0, -4.44959, 0, 1);
    transform: matrix3d(1.01702, 0, 0, 0, 0, 0.97523, 0, 0, 0, 0, 1, 0, 0, -4.44959, 0, 1); }
  .container .page.one 33  . 333333%  {
    -webkit-transform: matrix3d(1.0256, 0, 0, 0, 0, 0.96293, 0, 0, 0, 0, 1, 0, 0, -2.58735, 0, 1);
    transform: matrix3d(1.0256, 0, 0, 0, 0, 0.96293, 0, 0, 0, 0, 1, 0, 0, -2.58735, 0, 1); }
  .container .page.one 35  . 185185%  {
    -webkit-transform: matrix3d(1.02897, 0, 0, 0, 0, 0.95813, 0, 0, 0, 0, 1, 0, 0, -1.18444, 0, 1);
    transform: matrix3d(1.02897, 0, 0, 0, 0, 0.95813, 0, 0, 0, 0, 1, 0, 0, -1.18444, 0, 1); }
  .container .page.one 37  . 037037%  {
    -webkit-transform: matrix3d(1.02858, 0, 0, 0, 0, 0.95872, 0, 0, 0, 0, 1, 0, 0, -0.19164, 0, 1);
    transform: matrix3d(1.02858, 0, 0, 0, 0, 0.95872, 0, 0, 0, 0, 1, 0, 0, -0.19164, 0, 1); }
  .container .page.one 38  . 888889%  {
    -webkit-transform: matrix3d(1.02573, 0, 0, 0, 0, 0.96284, 0, 0, 0, 0, 1, 0, 0, 0.45675, 0, 1);
    transform: matrix3d(1.02573, 0, 0, 0, 0, 0.96284, 0, 0, 0, 0, 1, 0, 0, 0.45675, 0, 1); }
  .container .page.one 40  . 740741%  {
    -webkit-transform: matrix3d(1.02152, 0, 0, 0, 0, 0.96892, 0, 0, 0, 0, 1, 0, 0, 0.83145, 0, 1);
    transform: matrix3d(1.02152, 0, 0, 0, 0, 0.96892, 0, 0, 0, 0, 1, 0, 0, 0.83145, 0, 1); }
  .container .page.one 42  . 592593%  {
    -webkit-transform: matrix3d(1.01679, 0, 0, 0, 0, 0.97574, 0, 0, 0, 0, 1, 0, 0, 1.00043, 0, 1);
    transform: matrix3d(1.01679, 0, 0, 0, 0, 0.97574, 0, 0, 0, 0, 1, 0, 0, 1.00043, 0, 1); }
  .container .page.one 44  . 444444%  {
    -webkit-transform: matrix3d(1.01215, 0, 0, 0, 0, 0.98245, 0, 0, 0, 0, 1, 0, 0, 1.02422, 0, 1);
    transform: matrix3d(1.01215, 0, 0, 0, 0, 0.98245, 0, 0, 0, 0, 1, 0, 0, 1.02422, 0, 1); }
  .container .page.one 46  . 296296%  {
    -webkit-transform: matrix3d(1.00798, 0, 0, 0, 0, 0.98847, 0, 0, 0, 0, 1, 0, 0, 0.95355, 0, 1);
    transform: matrix3d(1.00798, 0, 0, 0, 0, 0.98847, 0, 0, 0, 0, 1, 0, 0, 0.95355, 0, 1); }
  .container .page.one 48  . 148148%  {
    -webkit-transform: matrix3d(1.0045, 0, 0, 0, 0, 0.9935, 0, 0, 0, 0, 1, 0, 0, 0.82863, 0, 1);
    transform: matrix3d(1.0045, 0, 0, 0, 0, 0.9935, 0, 0, 0, 0, 1, 0, 0, 0.82863, 0, 1); }
  .container .page.one 50%  {
    -webkit-transform: matrix3d(1.00179, 0, 0, 0, 0, 0.99741, 0, 0, 0, 0, 1, 0, 0, 0.67962, 0, 1);
    transform: matrix3d(1.00179, 0, 0, 0, 0, 0.99741, 0, 0, 0, 0, 1, 0, 0, 0.67962, 0, 1); }
  .container .page.one 51  . 851852%  {
    -webkit-transform: matrix3d(0.99984, 0, 0, 0, 0, 1.00024, 0, 0, 0, 0, 1, 0, 0, 0.52777, 0, 1);
    transform: matrix3d(0.99984, 0, 0, 0, 0, 1.00024, 0, 0, 0, 0, 1, 0, 0, 0.52777, 0, 1); }
  .container .page.one 53  . 703704%  {
    -webkit-transform: matrix3d(0.99856, 0, 0, 0, 0, 1.00208, 0, 0, 0, 0, 1, 0, 0, 0.38682, 0, 1);
    transform: matrix3d(0.99856, 0, 0, 0, 0, 1.00208, 0, 0, 0, 0, 1, 0, 0, 0.38682, 0, 1); }
  .container .page.one 55  . 555556%  {
    -webkit-transform: matrix3d(0.99784, 0, 0, 0, 0, 1.00312, 0, 0, 0, 0, 1, 0, 0, 0.26464, 0, 1);
    transform: matrix3d(0.99784, 0, 0, 0, 0, 1.00312, 0, 0, 0, 0, 1, 0, 0, 0.26464, 0, 1); }
  .container .page.one 57  . 407407%  {
    -webkit-transform: matrix3d(0.99756, 0, 0, 0, 0, 1.00352, 0, 0, 0, 0, 1, 0, 0, 0.16464, 0, 1);
    transform: matrix3d(0.99756, 0, 0, 0, 0, 1.00352, 0, 0, 0, 0, 1, 0, 0, 0.16464, 0, 1); }
  .container .page.one 59  . 259259%  {
    -webkit-transform: matrix3d(0.99759, 0, 0, 0, 0, 1.00347, 0, 0, 0, 0, 1, 0, 0, 0.08715, 0, 1);
    transform: matrix3d(0.99759, 0, 0, 0, 0, 1.00347, 0, 0, 0, 0, 1, 0, 0, 0.08715, 0, 1); }
  .container .page.one 61  . 111111%  {
    -webkit-transform: matrix3d(0.99783, 0, 0, 0, 0, 1.00313, 0, 0, 0, 0, 1, 0, 0, 0.03049, 0, 1);
    transform: matrix3d(0.99783, 0, 0, 0, 0, 1.00313, 0, 0, 0, 0, 1, 0, 0, 0.03049, 0, 1); }
  .container .page.one 62  . 962963%  {
    -webkit-transform: matrix3d(0.99819, 0, 0, 0, 0, 1.00262, 0, 0, 0, 0, 1, 0, 0, -0.00815, 0, 1);
    transform: matrix3d(0.99819, 0, 0, 0, 0, 1.00262, 0, 0, 0, 0, 1, 0, 0, -0.00815, 0, 1); }
  .container .page.one 64  . 814815%  {
    -webkit-transform: matrix3d(0.99859, 0, 0, 0, 0, 1.00204, 0, 0, 0, 0, 1, 0, 0, -0.03208, 0, 1);
    transform: matrix3d(0.99859, 0, 0, 0, 0, 1.00204, 0, 0, 0, 0, 1, 0, 0, -0.03208, 0, 1); }
  .container .page.one 66  . 666667%  {
    -webkit-transform: matrix3d(0.99898, 0, 0, 0, 0, 1.00148, 0, 0, 0, 0, 1, 0, 0, -0.04463, 0, 1);
    transform: matrix3d(0.99898, 0, 0, 0, 0, 1.00148, 0, 0, 0, 0, 1, 0, 0, -0.04463, 0, 1); }
  .container .page.one 68  . 518519%  {
    -webkit-transform: matrix3d(0.99933, 0, 0, 0, 0, 1.00097, 0, 0, 0, 0, 1, 0, 0, -0.04888, 0, 1);
    transform: matrix3d(0.99933, 0, 0, 0, 0, 1.00097, 0, 0, 0, 0, 1, 0, 0, -0.04888, 0, 1); }
  .container .page.one 70  . 37037%  {
    -webkit-transform: matrix3d(0.99962, 0, 0, 0, 0, 1.00055, 0, 0, 0, 0, 1, 0, 0, -0.0475, 0, 1);
    transform: matrix3d(0.99962, 0, 0, 0, 0, 1.00055, 0, 0, 0, 0, 1, 0, 0, -0.0475, 0, 1); }
  .container .page.one 72  . 222222%  {
    -webkit-transform: matrix3d(0.99985, 0, 0, 0, 0, 1.00022, 0, 0, 0, 0, 1, 0, 0, -0.04263, 0, 1);
    transform: matrix3d(0.99985, 0, 0, 0, 0, 1.00022, 0, 0, 0, 0, 1, 0, 0, -0.04263, 0, 1); }
  .container .page.one 74  . 074074%  {
    -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 0.99998, 0, 0, 0, 0, 1, 0, 0, -0.03596, 0, 1);
    transform: matrix3d(1.00001, 0, 0, 0, 0, 0.99998, 0, 0, 0, 0, 1, 0, 0, -0.03596, 0, 1); }
  .container .page.one 75  . 925926%  {
    -webkit-transform: matrix3d(1.00012, 0, 0, 0, 0, 0.99982, 0, 0, 0, 0, 1, 0, 0, -0.0287, 0, 1);
    transform: matrix3d(1.00012, 0, 0, 0, 0, 0.99982, 0, 0, 0, 0, 1, 0, 0, -0.0287, 0, 1); }
  .container .page.one 77  . 777778%  {
    -webkit-transform: matrix3d(1.00018, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, -0.02167, 0, 1);
    transform: matrix3d(1.00018, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, -0.02167, 0, 1); }
  .container .page.one 79  . 62963%  {
    -webkit-transform: matrix3d(1.00021, 0, 0, 0, 0, 0.9997, 0, 0, 0, 0, 1, 0, 0, -0.01538, 0, 1);
    transform: matrix3d(1.00021, 0, 0, 0, 0, 0.9997, 0, 0, 0, 0, 1, 0, 0, -0.01538, 0, 1); }
  .container .page.one 81  . 481481%  {
    -webkit-transform: matrix3d(1.0002, 0, 0, 0, 0, 0.99971, 0, 0, 0, 0, 1, 0, 0, -0.01008, 0, 1);
    transform: matrix3d(1.0002, 0, 0, 0, 0, 0.99971, 0, 0, 0, 0, 1, 0, 0, -0.01008, 0, 1); }
  .container .page.one 83  . 333333%  {
    -webkit-transform: matrix3d(1.00018, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, -0.00586, 0, 1);
    transform: matrix3d(1.00018, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, -0.00586, 0, 1); }
  .container .page.one 85  . 185185%  {
    -webkit-transform: matrix3d(1.00015, 0, 0, 0, 0, 0.99978, 0, 0, 0, 0, 1, 0, 0, -0.00268, 0, 1);
    transform: matrix3d(1.00015, 0, 0, 0, 0, 0.99978, 0, 0, 0, 0, 1, 0, 0, -0.00268, 0, 1); }
  .container .page.one 87  . 037037%  {
    -webkit-transform: matrix3d(1.00012, 0, 0, 0, 0, 0.99983, 0, 0, 0, 0, 1, 0, 0, -0.00043, 0, 1);
    transform: matrix3d(1.00012, 0, 0, 0, 0, 0.99983, 0, 0, 0, 0, 1, 0, 0, -0.00043, 0, 1); }
  .container .page.one 88  . 888889%  {
    -webkit-transform: matrix3d(1.00009, 0, 0, 0, 0, 0.99988, 0, 0, 0, 0, 1, 0, 0, 0.00103, 0, 1);
    transform: matrix3d(1.00009, 0, 0, 0, 0, 0.99988, 0, 0, 0, 0, 1, 0, 0, 0.00103, 0, 1); }
  .container .page.one 90  . 740741%  {
    -webkit-transform: matrix3d(1.00006, 0, 0, 0, 0, 0.99992, 0, 0, 0, 0, 1, 0, 0, 0.00188, 0, 1);
    transform: matrix3d(1.00006, 0, 0, 0, 0, 0.99992, 0, 0, 0, 0, 1, 0, 0, 0.00188, 0, 1); }
  .container .page.one 92  . 592593%  {
    -webkit-transform: matrix3d(1.00003, 0, 0, 0, 0, 0.99995, 0, 0, 0, 0, 1, 0, 0, 0.00227, 0, 1);
    transform: matrix3d(1.00003, 0, 0, 0, 0, 0.99995, 0, 0, 0, 0, 1, 0, 0, 0.00227, 0, 1); }
  .container .page.one 94  . 444444%  {
    -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 0.99998, 0, 0, 0, 0, 1, 0, 0, 0.00232, 0, 1);
    transform: matrix3d(1.00001, 0, 0, 0, 0, 0.99998, 0, 0, 0, 0, 1, 0, 0, 0.00232, 0, 1); }
  .container .page.one 96  . 296296%  {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.00216, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.00216, 0, 1); }
  .container .page.one 98  . 148148%  {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.00188, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.00188, 0, 1); }
  .container .page.one 100%  {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }
  .container .trailer {
    display: block;
    margin: 82px auto;
    width: 640px;
    height: 360px;
    background-color: #252525; }
  .container .about {
    display: block;
    margin-top: 2rem;
    font-family: "open sans", "Lato", "Segoe UI", sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    color: #f7f7f7;
    text-align: center; }
    .container .about a {
      color: #FFCC7A;
      text-shadow: 0 1px 2px #478ED6;
      text-decoration: underline; }
