@charset "UTF-8";
/*--------------------------------------------------
	
	Odyssey v1.3
	SCSS/SASS template
	https://github.com/Jmz7v/Odyssey.scss
	MIT License

	Made by Julio Montaño
	@jmz7v
		
--------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

body, html {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  /**/
  max-height: 100%;
  overflow: hidden;
  font-size: 16px; }

/*--------------------------------------------------
	Variables and Mixins
--------------------------------------------------*/
/*--------------------------------------------------
	Responsive YouTube video
--------------------------------------------------*/
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*--------------------------------------------------
	Add-on classes
--------------------------------------------------*/
.content-max-width, [content-max-width] {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.border-box, [border-box] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.circled, [circled] {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.espacio-small:after, [espacio-small]:after {
  display: block;
  content: "";
  height: 2rem; }

.espacio-medium:after, [espacio-medium]:after {
  display: block;
  content: "";
  height: 3.5rem; }

.espacio-large:after, [espacio-large]:after {
  display: block;
  content: "";
  height: 5rem; }

.espacio-xlarge:after, [espacio-xlarge]:after {
  display: block;
  content: "";
  height: 7rem; }

.espacio-xxlarge:after, [espacio-xxlarge]:after {
  display: block;
  content: "";
  height: 9rem; }

.espacio-sick:after, [espacio-sick]:after {
  display: block;
  content: "";
  height: 12rem; }

.text-align-center, [text-align-center] {
  width: 100%;
  text-align: center; }

.text-align-center-important, [text-align-center-important] {
  width: 100%;
  text-align: center !important; }

/*--------------------------------------------------
	Falling Dodge
--------------------------------------------------*/
body {
  background-image: -o-linear-gradient(89deg, #cde4ff 0%, #457dcc 54%, #1b0da7 100%);
  background-image: -moz-linear-gradient(89deg, #cde4ff 0%, #457dcc 54%, #1b0da7 100%);
  background-image: -ms-linear-gradient(89deg, #cde4ff 0%, #457dcc 54%, #1b0da7 100%);
  background-image: linear-gradient(-1deg, #cde4ff 0%, #457dcc 54%, #1b0da7 100%); }

.container {
  display: block;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: scroll; }
  .container .main-content {
    display: block;
    position: relative;
    z-index: 100;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%; }
    .container .main-content .logo {
      display: block;
      min-width: 256px;
      width: 40%;
      max-width: 512px;
      margin: 0 auto; }
    .container .main-content .super-title {
      display: block;
      margin-top: -40px;
      font-family: "open sans", "Lato", "Segoe UI", sans-serif;
      font-weight: 300;
      font-size: 24px;
      color: #f7f7f7;
      text-align: center; }
    .container .main-content .super-description {
      display: block;
      margin-top: 18px;
      font-family: "open sans", "Lato", "Segoe UI", sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: #f7f7f7;
      text-align: center; }
  .container .trailer {
    display: block;
    margin: 82px auto;
    width: 640px;
    height: 360px;
    background-color: #252525; }
  .container .about {
    display: block;
    margin-top: 2rem;
    font-family: "open sans", "Lato", "Segoe UI", sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    color: #f7f7f7;
    text-align: center; }
    .container .about a {
      color: #FFCC7A;
      text-shadow: 0 1px 2px #478ED6;
      text-decoration: underline; }
