@charset "UTF-8";
/*--------------------------------------------------
	
	Odyssey v1.4.1
	SCSS/SASS template
	https://github.com/Jmz7v/Odyssey.scss
	MIT License

	Made by Julio Montaño
	@jmz7v
		
--------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

body, html {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  font-size: 16px; }

/*--------------------------------------------------
	Variables and Mixins
--------------------------------------------------*/
/*--------------------------------------------------
	Responsive YouTube video
--------------------------------------------------*/
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*--------------------------------------------------
	Add-on classes
--------------------------------------------------*/
.content-max-width, [content-max-width] {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.border-box, [border-box] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.circled, [circled] {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.espacio-small:after, [espacio-small]:after {
  display: block;
  content: "";
  height: 2rem; }

.espacio-medium:after, [espacio-medium]:after {
  display: block;
  content: "";
  height: 3.5rem; }

.espacio-large:after, [espacio-large]:after {
  display: block;
  content: "";
  height: 5rem; }

.espacio-xlarge:after, [espacio-xlarge]:after {
  display: block;
  content: "";
  height: 7rem; }

.espacio-xxlarge:after, [espacio-xxlarge]:after {
  display: block;
  content: "";
  height: 9rem; }

.espacio-sick:after, [espacio-sick]:after {
  display: block;
  content: "";
  height: 12rem; }

.text-align-center, [text-align-center] {
  width: 100%;
  text-align: center; }

.text-align-center-important, [text-align-center-important] {
  width: 100%;
  text-align: center !important; }

.preserve-3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/*--------------------------------------------------
	Falling Dodge
--------------------------------------------------*/
body {
  background-image: -o-linear-gradient(89deg, #cde4ff 0%, #457dcc 54%, #1b0da7 100%);
  background-image: -moz-linear-gradient(89deg, #cde4ff 0%, #457dcc 54%, #1b0da7 100%);
  background-image: -ms-linear-gradient(89deg, #cde4ff 0%, #457dcc 54%, #1b0da7 100%);
  background-image: linear-gradient(-1deg, #cde4ff 0%, #457dcc 54%, #1b0da7 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.container {
  display: block;
  /*z-index: 1;*/
  height: 100%;
  width: 100%; }
  .container .page {
    display: block;
    position: relative;
    z-index: 100;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    min-height: 700px; }
  .container .page.one .logo {
    display: block;
    min-width: 256px;
    width: 50%;
    max-width: 512px;
    margin: 0 auto 0;
    -webkit-animation: animation 900ms linear both;
    animation: animation 900ms linear both; }
  .container .page.one .super-title {
    display: block;
    margin-top: -40px;
    font-family: "open sans", "Lato", "Segoe UI", sans-serif;
    font-weight: 300;
    font-size: 2.4rem;
    color: #f7f7f7;
    text-align: center;
    text-shadow: 0 0 3px #f7f7f7; }
  .container .page.one .super-description {
    display: block;
    margin-top: 2rem;
    font-family: "open sans", "Lato", "Segoe UI", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #f7f7f7;
    text-align: center; }
  .container .page.one .arrow {
    position: absolute;
    margin: 0 auto;
    display: block;
    width: 100%;
    bottom: 4rem;
    height: 2rem;
    filter: alpha(opacity=0.25);
    -moz-opacity: 0.25;
    opacity: 0.25; }
  .container .page.two .unslider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    width: 100%;
    max-width: 980px;
    /*background-color: red;*/ }
    .container .page.two .unslider ul {
      list-style: none;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .container .page.two .unslider ul li {
        /*position: relative;*/
        display: inline-block;
        width: 100%; }
        .container .page.two .unslider ul li img {
          display: inline-block;
          position: relative;
          width: 100%; }
  .container .page.three .downloads {
    display: block;
    margin-top: 2rem;
    font-family: "open sans", "Lato", "Segoe UI", sans-serif;
    font-weight: 300;
    font-size: 0;
    color: #f7f7f7;
    text-align: center; }
    .container .page.three .downloads p {
      margin-top: 1rem; }
    .container .page.three .downloads .left, .container .page.three .downloads .right {
      display: inline-block;
      width: 50%;
      font-size: 1.5rem;
      overflow: hidden; }
      .container .page.three .downloads .left img, .container .page.three .downloads .right img {
        max-width: 100%; }
    .container .page.three .downloads .download {
      text-decoration: none;
      color: inherit; }
  .container .page.three .credits {
    display: block;
    margin-top: 2rem;
    font-family: "open sans", "Lato", "Segoe UI", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #f7f7f7;
    text-align: center; }
    .container .page.three .credits a {
      color: #F8FF7A;
      text-shadow: 0 0 3px #F8FF7A;
      text-decoration: none; }
    .container .page.three .credits a:hover {
      text-decoration: underline; }
  .container .page.three .copyright {
    display: block;
    /*margin-top: 2rem;*/
    font-family: "open sans", "Lato", "Segoe UI", sans-serif;
    font-weight: 300;
    font-size: 1.15rem;
    color: #f7f7f7;
    text-align: center; }

.container:before {
  position: fixed;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("img/Stars.png");
  background-size: 300px;
  background-position: center;
  background-repeat: repeat;
  filter: alpha(opacity=0.25);
  -moz-opacity: 0.25;
  opacity: 0.25; }
